.my-page a {
  color: #005ca9;
  text-decoration: none;
}
.my-page__container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 24px;
}
.my-page__image {
  width: 100%;
  height: 60vh;
  max-height: 700px;
  background: url(../img/bg.jpeg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  margin-bottom: 60px;
}
.my-page__photo {
  width: 400px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.my-page__photo img {
  max-width: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.my-page__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}
.my-page__contacts-item {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin-right: 20px;
  width: calc((100% - 2*20px)/3);
  font-size: 24px;
}
.my-page__contacts-item:last-child,
.my-page__contacts-item:nth-child(3n) {
  margin-right: 0;
}
.my-page__contacts-item-title {
  padding-left: 40px;
  color: gray;
  font-size: 18px;
}
.my-page__contacts-item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.my-page__contacts-item-info img {
  max-width: 30px;
  margin-right: 10px;
}
